@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;900&display=swap');

body {
  justify-content: center;
  font-family: 'Roboto', sans-serif;
  font-size: 21px;
  font-weight: 300;
}

.container {
  margin: 0 auto;
  width: 570px;
  text-align: center;
  padding: 20px 0;
}

h1, h2 {
  font-weight: 300;
}

h1 {
  font-size: 80px;

}

h2 {
  font-size: 60px;
  border-top: 1px solid #C4C4C4;
  border-bottom: 1px solid #C4C4C4;
  padding: 20px 0;
}

h3 {
  font-size: 36px;
  font-weight: 900;
  margin-bottom: 0px;
}

.small {
  font-size: 16px;
  margin-top: 0px;
}

.enfasis1 {
  font-size: 80px;
}

.enfasis2 {
  font-size: 60px;
}

.blacktext {
  font-weight: 900;
  display: block;
  color: #99d930;
}

.link {
  color: #99d930;
}

.link:hover {
  color: #131313;
}

section {
  padding: 10px 0;
}

.title, .info{
  background-color: #252525;
  color: #FFF;
}

.main {
  background-color: #FFF;
  color: #252525;
}

.btn {
  text-decoration: none;
  padding: 20px;
  color: #252525;
  background-color: #99D930;
  font-weight: 900;
  display: inline-block;
}

.btn:hover {
  color: #252525;
  background-color: #fff;
}